site_name: Mol* Documentation
theme:
  name: null
  custom_dir: mkdocs-material/material

  # 404 page
  static_templates:
    - 404.html

  # Necessary for search to work properly
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  icon:
    logo: logo
markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
nav:
  - 'index.md'
  - 'examples.md'
  - 'plugin.md'
  - 'data-state.md'
  - 'viewer-state.md'
  - 'selections.md'
  - Data Access Tools:
    - 'data-access-tools/model-server.md'
    - 'data-access-tools/volume-server.md'
    - 'data-access-tools/plugin-state-server.md'
    - 'data-access-tools/convert-to-bcif.md'
    - 'data-access-tools/create-ccd-table.md'
    - 'data-access-tools/extract-ccd-ions.md'
repo_url: https://github.com/molstar/docs