site_name: Mol* Documentation
theme:
  name: null
  custom_dir: mkdocs-material/material

  # 404 page
  static_templates:
    - 404.html

  # Necessary for search to work properly
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  icon:
    logo: logo
markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
# Scripts for rendering Latex equations (in addition to pymdownx.arithmatex):
extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
nav:
  - 'index.md'
  - 'examples.md'
  - 'plugin.md'
  - 'data-state.md'
  - 'viewer-state.md'
  - 'selections.md'
  - Transforms:
    - 'transforms/custom-trajectory.md'
  - Data Access Tools:
    - 'data-access-tools/model-server.md'
    - 'data-access-tools/volume-server.md'
    - 'data-access-tools/plugin-state-server.md'
    - 'data-access-tools/convert-to-bcif.md'
    - 'data-access-tools/create-ccd-table.md'
    - 'data-access-tools/extract-ccd-ions.md'
  - Extensions:
    - MolViewSpec: 
      - Introduction: 'extensions/mvs/intro.md'
      - Tree Schema: 'extensions/mvs/mvs-tree-schema.md'
      - Selectors: 'extensions/mvs/selectors.md'
      - Annotations: 'extensions/mvs/annotations.md'
      - Camera Settings: 'extensions/mvs/camera-settings.md'
      - MVS Extension in Mol*: 'extensions/mvs/mvs-molstar-extension.md'
      - MVS Extension in Mol* - Integration: 'extensions/mvs/mvs-molstar-extension-integration.md'
    - wwPDB StructConn: 'extensions/struct-conn.md'
repo_url: https://github.com/molstar/docs